form {
  display: flex;
  flex-direction: column;
  width: 200px;
  gap: 0.5rem;
  margin: 1rem auto;
  align-items: center;
}

input,
button {
  width: 100%;
}

h1,
a {
  display: block;
  width: 100%;
  text-align: center;
}
